@import "./styles/global.scss";
@import "./styles/utils.scss";
@import "./styles/media-query-manager.scss";

body {
  padding: 4rem;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: #ffffff;

  --primary-color: #fca311;

  --font-color: #212529;
  --font-color-secondary: #353535;

  --shadow: rgba(0, 0, 0, 0.2);

  --font-color-white: #fff;

  @include respond(laptop) {
    padding: 3rem;
  }
}

body.dark {
  padding: 4rem;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: #14213d;

  --primary-color: #fca311;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
