@import "../../styles/media-query-manager.scss";

.masonry {
  columns: 3;
  margin: 0 10rem;
  margin-top: 8rem;
  column-gap: 2rem;

  @include respond(laptop) {
    margin: 0 4rem;
    margin-top: 5rem;
  }

  @include respond(tablet) {
    columns: 2;
    margin: 0 2rem;
    margin-top: 4rem;
    column-gap: 1.5rem;
  }

  @include respond(mobileLarge) {
    margin: 0 1.5rem;
    margin-top: 3rem;
  }

  @include respond(mobileMedium) {
    margin: 0 1rem;
    column-gap: 1.25rem;
    margin-top: 2.5rem;
  }

  @include respond(mobileSmall) {
    margin: 0 0.85rem;
    column-gap: 0.85rem;
    margin-top: 2.25rem;
  }
}
