.imageCard {
  width: 100%;
  cursor: pointer;
  position: relative;
  margin-bottom: 2rem;
  transition: all 0.3s;

  &:hover &__container {
    filter: brightness(50%);
  }

  &:hover &__title {
    opacity: 1 !important;
    visibility: visible !important;
  }

  &__title {
    left: 5%;
    opacity: 0;
    bottom: 1.5rem;
    font-weight: 800;
    font-size: 2.5rem;
    z-index: 99999999;
    visibility: hidden;
    position: absolute;
    transition: all 0.3s;
    text-transform: uppercase;
    color: var(--font-color-white);
  }

  &__container {
    width: 100%;
    transition: all 0.3s;

    &_image {
      width: 100%;
      max-width: 100%;
      max-height: 100%;
      border-radius: 0.5rem;
    }
  }
}
