@import "./media-query-manager.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 1rem = 10px

  @include respond(laptop) {
    font-size: 50%;
  }

  @include respond(mobileMedium) {
    font-size: 45%;
  }

  @include respond(mobileSmall) {
    font-size: 40%;
  }
}
