// Margin Right
.mar-r-2rem {
  margin-right: 2rem !important;
}

.mar-r-5rem {
  margin-right: 5rem !important;
}

.mar-r-10rem {
  margin-right: 10rem !important;
}

// Margin Left
.mar-l-2rem {
  margin-left: 2rem !important;
}

.mar-l-5rem {
  margin-left: 5rem !important;
}

.mar-l-10rem {
  margin-left: 10rem !important;
}
